# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Diseno-patrones-SI720-2301-SW53-DDD.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
